---
layout: default
title: Home
subtitle: words by Daniel Buckmaster
---

<hr />

<div class="content">
  <ul class="posts">
    {% for post in site.posts %}
    <li class="post">
      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>

      <div class="post-details">
        <!-- Decide if this is worth it
        {% for tag in post.tags %}
          <span class="tag">{{ tag }} &ndash;</span>
        {% endfor %}
        -->

        <span class="date">{{ post.date | date: '%B %-d, %Y' }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<hr />

<div class="footer">
  <div class="links">
    <a href="//crabmusket.net">Take me home</a>
  </div>
</div>
